{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Now</legend>

            <div class="form-group">
                {{form.email.label(class="form-control-label")}}

                {% if form.email.errors %}
                        {{ form.email(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">

                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{form.email(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <div class="form-group">
                {{form.password.label(class="form-control-label")}}

                {% if form.password.errors %}
                        {{ form.password(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">

                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else%}
                        {{form.password(class="form-control form-control-lg")}}
                    {% endif %}
            </div>

            <div class="form-check form-check">
                {{form.remember(class="form-check-input")}}
                {{form.remember.label(class="form-check-label")}}
            </div>
        </fieldset>
        
        

        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
            <small class="text-muted ml-2">
                <a href="{{ url_for('users.reset_request') }}">Forget Password?</a>
            </small>
        </div>

        

    </form>
</div>


<div class="border-top pt-3">
    <small class="text-muted">
        Need an Account? <a href="{{url_for('users.register')}}" class="ml-2">Register now</a>
    </small>
</div>

{% endblock content %}