{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Now</legend>

            <div class="form-group">
                {{form.password.label(class="form-control-label")}}

                {% if form.password.errors %}
                        {{ form.password(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">

                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{form.confirm_password.label(class="form-control-label")}}

                {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">

                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{form.confirm_password
                            (class="form-control form-control-lg")}}
                {% endif %}
            </div> 
        </fieldset>       

        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>

    </form>
</div>

{% endblock content %}